.main-body
  display: flex
  flex-direction: column
  height: 100vh

.main-content
  flex: 1
  width: 80%
  max-width: 800px
  margin: auto

footer.footer
  display: flex
  justify-content: center
  align-items: center
  height: 64px
  box-shadow: 0px 0px 1px #212121
