@import '~roboto-fontface/css/roboto/roboto-fontface'
@import '~material-design-icons/iconfont/material-icons'

html
  font-family: 'Roboto', sans-serif
  -webkit-font-smoothing: antialiased

body, h1, h2, h3, h4, h5, h6
  margin: 0

body
  font-size: 15px
  line-height: 24px
