.page-header
  display: flex
  flex-direction: row
  align-items: center
  justify-content: space-between
  margin: 24px 0

.title
  font-size: 28px
  font-weight: 300

.table-header
  font-weight: bold
  border-bottom: 1px solid black

.table-row
  display: flex
  flex-direction: row
  padding: 14px 14px
  text-align: center

.table-column
  justify-content: center
  align-items: center
  display: flex
  flex: 1
  padding: 0 7px

.table-body
  .table-row:hover
    cursor: pointer
    background-color: #e6e6e6
